<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <h2>Page protégée</h2>

    <h3>Ajouter un twouït</h3>
    <%- include('components/form-post') -%>

    <h3>Liste des twouïts</h3>
    <% if( data.data ) { %>
         <ul class="tweetlist">
             <% for(let item of data.data) { %>
                <li>
                    <a href="/post/<%- item._id %>"><h4><%- item.headline %></h4></a>
                    <p>by <%- item.author.givenName %></p>
                </li>
            <% } %> 
         </ul>
    <% } else { %>
        <p>aucun post</p>
    <% } %>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>  
