<!--
   Créer un formulaire d'inscription 
   A ajouter dans la page d'accueil
-->

<form action="/register" method="POST">

    <label for="email">Email</label>
    <input type="email" name="email" required minlength="5" value="mathis.dyk.pro@gmail.com">

    <label for="givenName">Prénom</label>
    <input type="text" name="givenName" required minlength="2" value="Mathis">

    <label for="familyName">Nom</label>
    <input type="text" name="familyName" required minlength="2" value="DYK">

    <label for="password">Mot de passe</label>
    <input type="password" name="password" required minlength="5" value="testtest">

    <button type="submit">Inscription</button>

</form>
