<!-- 
    Créer le formulaire de connexion
-->

<form action="/post" method="POST">

    <label for="headline">Titre</label>
    <input type="text" name="headline" required minlength="2" placeholder="Titre de votre twouït">

    <label for="body">Contenu</label>
    <textarea name="body" required minlength="2" placeholder="Une pensée à nous partager ?"></textarea>

    <button type="submit">Twouïtter</button>

</form>
